HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.springBeans
.sts4-cache

.DS_Store

### IDE ###
.idea
*.iws
*.iml
*.ipr
/.vscode/
/.settings
/.project
/.metadata
/.pydevproject

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/mvnw
/mvnw.cmd

### application-env.properties shall not be included in VCS as it contains sensitive info
application-*.properties

# make sure not to include compiled things.
/bin/
*.class
